In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("q_table - mc-cari.csv", header=None)

In [4]:
df

      0  1  2  3  4         5         6         7
0    -5  0  0  0  0  0.000000  0.000000  0.000000
1    -5  0  0  0  1  0.131728 -0.087732 -0.086105
2    -5  0  0  0  2  0.000000  0.000000  0.000000
3    -5  0  0  1  0  0.000000  0.000000  0.000000
4    -5  0  0  1  1  0.000000  0.000000  0.000000
...  .. .. .. .. ..       ...       ...       ...
3163  5  5  3  2  1  0.000000  0.000000  0.000000
3164  5  5  3  2  2  0.000000  0.000000  0.000000
3165  5  5  3  3  0  0.100635 -0.092644 -0.096635
3166  5  5  3  3  1  0.000000  0.000000  0.000000
3167  5  5  3  3  2  0.000000  0.000000  0.000000

[3168 rows x 8 columns]

In [5]:
np_df = df.to_numpy()

In [8]:
np_df.shape

(3168, 8)

In [9]:
np.save("q_table_ganadora.npy", np_df)