In [11]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("q_table - mc-cari.csv", header=None)

In [7]:
df.head()

   0  1  2  3  4         5         6         7
0 -5  0  0  0  0  0.000000  0.000000  0.000000
1 -5  0  0  0  1  0.131728 -0.087732 -0.086105
2 -5  0  0  0  2  0.000000  0.000000  0.000000
3 -5  0  0  1  0  0.000000  0.000000  0.000000
4 -5  0  0  1  1  0.000000  0.000000  0.000000

In [8]:
np_df = df.to_numpy()

In [9]:
np_df

array([[-5.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-5.        ,  0.        ,  0.        , ...,  0.13172801,
        -0.08773164, -0.08610467],
       [-5.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 5.        ,  5.        ,  3.        , ...,  0.10063509,
        -0.09264399, -0.09663526],
       [ 5.        ,  5.        ,  3.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 5.        ,  5.        ,  3.        , ...,  0.        ,
         0.        ,  0.        ]])

In [15]:
np.save("q_table_ganadora.npy", np_df)